<% provide(:page_title, 'All Posts') %>
<% provide(:author, 'active') %>

<div class="row">
  <table class="table table-striped">
    <tr>
       <th colspan="4">Title</th>

    </tr>
  <%= render @posts %>
  </table>
</div>
