.posts.index {
  .card {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #181818;
    height: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
    .card-topper{
      height: 200px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    .card-block {
      padding: 10px;
      .btn-read{
        background-color: #ff0000;
        font-weight: 300;
        border-radius: 0;
        color: #ffffff;

        &:hover {
          background-color: #9e3131;
        }
      }
      .card-title {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        a{
          color: black;
          text-decoration: none;
        }
      }
      .published-date{
        font-size: 0.8rem;
        color: #787878;
        font-weight: 300;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }
      .card-text {
        font-size: 0.9rem;
      }
    }
  }
}

.table {
  margin-top: 25px;
}
.vineeth {
  margin-top: 10px;
  margin-right: 20px;
}
@media screen and (min-width: 34em) {
  .posts.index .card {
    height: 440px;
  }
}

@media screen and (min-width: 48em) {
  .posts.index .card {
    height: 420px;
  }
}

@media screen and (min-width: 75em) {
  .posts.index .card {
    height: 415px;
  }
}
